*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

ul{
    display: flex;
    gap: 2rem;
    margin-top: 40px;
     color: black;
}

ul button{
    background-color: black;
    color: white;
}

#sobre{
    padding-top: 200px;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
}

#serprod{
    padding-top: 200px;
}

section{
    word-wrap: break-word;
    min-height: 40vh;
}

header img{
    float: left;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(red, blue);
    font-weight: 1000;
}
